<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708954029494-tg09dd8s7if2vv2ec79qsjr60o5pvh56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708954029494-tg09dd8s7if2vv2ec79qsjr60o5pvh56</string>
	<key>API_KEY</key>
	<string>AIzaSyBLK1x_mhGQcwLPGhdfe6kQ3gleBIHkc9U</string>
	<key>GCM_SENDER_ID</key>
	<string>708954029494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.pixolity.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-project-sk-pua</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-project-sk-pua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708954029494:ios:d9df2423354dcc1dc8d517</string>
</dict>
</plist>